{% extends "base.html" %}

{% block content %}
    <H3>Active Medications</H3>
    <table class="table table-hover table-success table-striped">
        <thead>
            <tr>
                <th>Medication</th>
                <th>Route of Administration</th>
                <th>Frequency</th>
                <th>Prescriber</th>
                <th>Administration Times</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        {% for prescription in prescriptions %}
            <tr>
                <td>
                    <a href="{% url 'prescription' pk=request.user.id rx_id=prescription.id %}">
                    {% for medication in prescription.medications %}
                    {{ medication.generic_name }} ({{ medication.brand_name }}) {{ medication.strength_text }} {{ medication.dosage_form }}<br/>
                    {% endfor %}
                    </a>
                </td>
                <td>
                    {% for route in prescription.routes %}
                    {{ route.name }}<br/>
                    {% endfor %}
                </td>
                <td>
                    {%  for frequency in prescription.frequencies %}
                    {{ frequency.name }}<br/>
                    {% endfor %}
                </td>
                <td>{{ prescription.prescriber.last_name }}, {{ prescription.prescriber.first_name }} {{ prescription.prescriber.credentials }}</td>
                <td>
                    {% for time in prescription.administration_times %}
                    {{ time.value }}<br/>
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'admin_times' pk=request.user.id rx_id=prescription.id %}">Edit Times</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}