{% extends "base.html" %}

{% block content %}
    <H3>Active Medications</H3>
    <table>
        <thead>
            <tr>
                <th>Date Written</th>
                <th>Generic Name</th>
                <th>Brand Name</th>
                <th>Medication Strength</th>
                <th>Route of Administration</th>
                <th>Frequency</th>
                <th>Prescriber</th>
                <th>Administration Times</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        {% for prescription in prescriptions %}
            <tr>
                <td>
                    {% for medication in prescriptions.medications %}
                    {{ medication.generic_name }} ({{ medication.brand_name }}) {{ medication.strength }}
                    {% endfor %}
                </td>
                <td>{{ medication.brand_name }}</td>
                <td>{{ medication.strength }} {{ medication.strength_units }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}