{% extends "base.html" %}
{% block content %}
    <h2>MAKE SURE NOT TO ADD MORE ADMINISTRATION TIMES THAN NEEDED</h2>
    <form id='form' method="PATCH" action="">
        {{ form.as_p }}
        <input type="submit" value="Save"/>
    </form>
    <script>
        $(document).ready(function () {
            $('form').on("submit", function (e) {
                e.preventDefault();
                let url = "{% url 'edit_admin_times' pk=request.user.id rx_id=rx_id %}";
                let formData = $('#id_administration_times').val()
                $.ajax(url, {
                    type: "PATCH",
                    data: JSON.stringify({administration_times: formData}),
                    success: function (data) {
                        window.location.href = "{% url 'admin_times' pk=request.user.id rx_id=rx_id %}";
                    },
                    error: function (data) {
                        window.location.href = "{% url 'admin_times' pk=request.user.id rx_id=rx_id %}";
                    }
                });
            });
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!/^GET|HEAD|OPTIONS|TRACE$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'))
                    }
                }
            });
        });
    </script>
{% endblock %}